
__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
VENV/
.venv/
.ENV/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.cache/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
htmlcov/

*.log
debug.log

*.so
*.pyd
*.dll
*.dylib

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
*.manifest
*.spec

chromedriver.log

.env
.env.*

*.swp
*~
.DS_Store
Thumbs.db
